/* h1 {
    color:red;
} */

.square {
    width: 29%;
    background-color: purple;
    padding-bottom: 29%;
    float: left;
    margin: 2%;
    border-radius: 20%;
    transition: background-color 1s;
    transition: border-radius 1s;
}

.square.winner {
    background-color: rgb(4, 155, 4);
    border-radius: 50%;
}

.square.loser {
    background-color: rgb(143, 3, 3);
    border-radius: 0%;
}